body {
  font-family: "Montserrat", Sans-serif;
}

/* Header */
.nav-link {
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", Sans-serif;
  letter-spacing: 0.2;
  color: black;
  transition: all 0.2s linear;
  padding: 0.5rem 10px !important;
}
.nav-link.active {
  color: #f0a285;
}
.nav-link:hover {
  color: #f0a285;
}
.right-navbar {
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
  position: absolute;
  right: 0;
  padding-right: 30px;
}
.right-navbar i {
  padding: 0 10px;
}
.logo {
  line-height: 0;
  padding: 0.5rem;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
nav {
  padding: 20px !important;
  background-color: white;
  min-height: 70px;
}

#shop,
#services {
  position: absolute;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: white;
}
#services {
  left: 210px;
  width: auto;
  top: 65px;
  width: auto;
  padding: 10px 15px 0 25px;
  display: none;
}

#shop {
  display: none;
  left: 0;
  width: 100%;
  top: 65px;
  /* display: block; */
  /* display: flex; */
  padding: 35px 20px;
  flex-wrap: wrap;
}

#shop a,
#services a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", Sans-serif;
  transition: all .2s linear;
}
#shop h6,
#services h6 {
  font-size: 11px;
  padding: 4px 0;
}
#shop h6 a:hover,
#services h6 a:hover {
  color: #f0a285;
}
#shop h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}

#featured-products img {
  width: 108px;
  height: 108px;
  border: 1px solid #f1f1f1;
  object-fit: cover;
}
#featured-products h6 a {
  font-size: 10px;
  color: #f0a285;
  text-decoration: none;
}
#featured-products p {
  font-size: 13px;
  margin-bottom: 0px;
}
#featured-products .right-side {
  display: inline-block;
  padding: 0px 15px;
}
ul {
  padding-left: 0px !important;
}
#sale-image img {
  width: 100%;
  height: auto;
  max-height: 320px;
  object-fit: cover;
}
.left-navbar {
  display: flex;
}

@media screen and (min-width: 360px) {
  #sale-image {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  #sale-image {
    display: block;
  }
}

/* Toogle button */
.nav-toggle {
  position: absolute;
  z-index: 1;
  width: 30px;
  display: none;
  padding: 15px 0;
  top: 22px;
  left: 24px;
  cursor: pointer;
}
.nav-toggle-item {
  width: 100%;
  display: block;
  background-color: black;
  height: 3px;
  position: absolute;
}
.nav-toggle-item::before,
.nav-toggle-item::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: black;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}
.nav-toggle-item::before {
  top: -9px;
}
.nav-toggle-item::after {
  bottom: -9px;
}

.nav-toggle.active .nav-toggle-item {
  background: none;
}
.nav-toggle.active .nav-toggle-item::before {
  transform: rotate(45deg) translateX(-2px);
  transform-origin: left top;
}
.nav-toggle.active .nav-toggle-item::after {
  transform: rotate(-47deg) translateX(-2px);
  transform-origin: left bottom;
}
.left-navbar.active {
  display: flex;
}

@media screen and (max-width: 920px) {
  .left-navbar {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    padding: 16px;
  }
  .nav-toggle,
  .nav-toggle-item {
    display: block;
  }
  .right-navbar {
    padding-right: 15px;
  }
  .right-navbar i {
    padding: 0 4px;
  }
}

@media screen and (max-width: 500px) {
  .left-navbar {
    padding: 5px 0;
  }
  .right-navbar {
    padding-right: 4px;
  }
  #services {
    top: 42px;
    left: 10px;
  }
  #shop{
    top: 42px;
  }
}

/* SlIDER */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px !important;
  height: 30px !important;
}
/* #first-slide{
  background: url(../images/slider-01.png);
  max-height: 550px;  
} */

.slider-content {
  width: 500px;
  font-family: "Montserrat", Sans-serif;
}
#first-slide .slider-content {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-15%, -40%);
}
#second-slide .slider-content {
  position: absolute;
  top: 10%;
  left: 10%;
  /* transform: translate(30%, 30%); */
}
#third-slide .slider-content {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translate(-20%, -40%);
  text-align: center;
}
.slider-content h1 {
  font-size: 46px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px !important;
}
#first-slide img,
#third-slide img,
#second-slide img {
  transform: scale(1.1);
  min-height: 450px;
  object-fit: cover;
}
.slider-content button,
.text-block button {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  color: black;
  padding: 18px 41px 18px 41px;
  border: none;
  outline: none;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}
.slider-content button:hover,
.text-block button:hover {
  background-color: black;
  color: white;
  transition: 0.5s linear;
}

@media screen and (max-width: 1020px) {
  .slider-content h1 {
    font-size: 28px;
  }
  .slider-content p {
    font-size: 14px;
  }
  .slider-content {
    width: 350px;
  }
  #first-slide .slider-content {
    top: 50%;
    right: 10%;
    transform: translate(0%, -46%);
  }

  #third-slide .slider-content {
    top: 43%;
    transform: translate(-24%, -40%);
  }
}
@media screen and (max-width: 710px) {
  #first-slide .slider-content,
  #second-slide .slider-content,
  #third-slide .slider-content {
    text-align: center;
    left: 0;
    top: 30%;
    right: 0;
    transform: none;
    width: 80%;
    margin: auto;
  }
  #first-slide img,
  #third-slide img,
  #second-slide img {
    transform: scale(1);
  }
}

/* Categories */
.categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
  position: relative;
}
.categories img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 450px;
}
.categories h4 {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  color: black;
  width: 80%;
  letter-spacing: 1.3px;
}

.categories h4:after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  left: 0;
  transition: 1s ease;
  padding-top: 10px;
}

.categories h4:hover:after {
  width: 100%;
}
#earrings-C:after {
  border-bottom: 3px solid #d6a78f;
}
#bracelets-C::after {
  border-bottom: 3px solid #fae0a3;
}
#necklaces-C::after {
  border-bottom: 3px solid #fdc7b2;
}
#rings-C::after {
  border-bottom: 3px solid #f9cda7;
}
#clearance-C::after {
  border-bottom: 3px solid #97cfed;
}
#pendants-C::after {
  border-bottom: 3px solid #f5cce5;
}
@media (min-width: 768px) {
  .clearance {
    order: 2;
  }
  .pendants {
    order: 1;
  }
}

@media (min-width: 992px) {
  .clearance {
    order: 1;
  }
  .pendants {
    order: 2;
  }
}

/* WHat`s hot */
.hot h4 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 30px;
}
.hot-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hot-offers h6 a {
  font-size: 10px;
  color: #f0a285;
  text-decoration: none;
  text-transform: uppercase;
}
.hot-offers p {
  font-size: 13px;
}
.image-card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
.image-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.151);
  transition: 0.5s linear;
}
.image-card .hidden {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.image-card:hover .hidden {
  opacity: 1;
}

.hot-offers .icons {
  opacity: 0;
  position: absolute;
  top: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.5s linear;
}
.hot-offers .icons i {
  outline: none;
  background-color: #f9cda7;
  border-radius: 60px;
  border: none;
  color: black;
  padding: 10px;
}
.image-card:hover .icons {
  opacity: 1;
}

@media (min-width: 360px) {
  .hot-offers .icons i {
    font-size: 30px;
    margin: 0 30px;
  }
}
@media (min-width: 768px) {
  .hot-offers .icons i {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .hot-offers .icons i {
    font-size: 15px;
    margin: 0px 10px;
  }
}

/* Banners */
.banners {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.banners img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.35s linear;
  transform: scale(1.25);
}
.banners div {
  overflow: hidden;
  padding: 0;
}
.banners img:hover {
  transform: scale(1);
}

/* Video banner */

video {
  width: 100%;
  opacity: 0.4;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}
.video-banner h2 {
  letter-spacing: 2.5px;
  font-size: 46px;
}
.video-banner {
  position: relative;
}
.video-banner .text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
}
.text-block button {
  background-color: rgba(255, 255, 255, 1);
}
@media (max-width: 760px) {
  .video-banner .text-block h2 {
    font-size: 35px;
  }
  .video-banner .text-block p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .video-banner .text-block h2 {
    font-size: 25px;
  }
  .video-banner .text-block p {
    display: none;
  }
  .video-banner .text-block {
    width: 100%;
  }
  .video-banner .text-block h2 {
    letter-spacing: 0.5px;
  }
}

/* BLog */
.blog img {
  width: 100%;
  height: auto;
}
.blog-block {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 60px;
}
.blog-block h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 33px;
  margin-top: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .blog-block {
    padding: 25px 10px;
  }
}
@media (max-width: 1000px) {
  .blog-block h4 {
    font-size: 16px;
    line-height: 21px;
  }
}

/* TESTIMONIALS */
.testimonials h6 {
  font-weight: 700;
  letter-spacing: 0.2px;
}
.testimonials p {
  font-size: 13px;
  color: gray;
  margin-top: 7px;
}

/* Foolow insta */
.insta-block {
  display: flex;
  flex-wrap: wrap;
}
.insta-block img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
  margin: 20px 0;
}
@media (max-width: 1100px) {
  .insta-block img {
    margin: 10px 0;
  }
}
/* Sales */
.sales {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", Sans-serif;
}
.sales img {
  float: left;
  margin-right: 10px;
}
.sale {
  background-color: #f5cce5;
}
.gift {
  background-color: #fef2e1;
}
.percentage {
  background-color: #ebf4f9;
}
.sale,
.gift,
.percentage {
  padding: 15px 0 0;
}

.sales a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.sales p {
  font-size: 12px;
}
.sales a:hover {
  text-decoration: none;
  color: black;
}
@media (min-width: 360px) {
  .sale div,
  .gift div,
  .percentage div {
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }
  .sales img {
    object-fit: scale-down;
  }
  .sale,
  .gift,
  .percentage {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .sales a {
    font-size: 11px;
  }
  .sale div,
  .gift div,
  .percentage div {
    align-items: flex-start;
  }

  .sale,
  .gift,
  .percentage {
    display: block;
  }
}
@media (min-width: 992px) {
  .sales a {
    font-size: 14px;
  }
}
/* Footer */
footer {
  display: flex !important;
  flex-wrap: wrap;
  background-color: #f3f5f7;
  padding: 40px 15px;
}
footer h5 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.9px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}
footer h6 {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0;
}
footer a:hover,
footer h6:hover {
  text-decoration: none;
  color: #f0a285;
}
footer p {
  font-size: 14px;
}
footer input {
  padding: 7px 10px;
  border: none;
  outline: none;
}
footer button {
  outline: none;
  padding: 7px 15px;
  border: none;
  background-color: white;
  color: #f0a285;
  cursor: pointer;
}
footer button:hover {
  color: black;
}

@media (min-width: 400px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 450px) {
  footer {
    padding: 50px 50px 20px 50px;
  }
}
